<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teams meeting</title>
</head>
<body>

    <p>
        <strong>Je bent toegevoegd aan de meetup</strong>
    </p>

    <table class="table table-bordered">
        <tr>
            <th>Onderwerp</th>
            <td th:text="${meeting.subject}"></td>
        </tr>
        <tr>
            <th>Aangemaakt door</th>
            <td th:text="${meeting.organizer}"></td>
        </tr>
        <!--
        <tr>
            <th>Verwijder me</th>
            <td>
                <form method="POST" action="xxx"></form>
                <input type="submit" th:value="'Verwijder me'">
            </td>
        </tr>
        -->
        <tr>
            <th>Deze personen hebben aangegeven deel te zullen nemen</th>
            <td>
                <ul>
                    <li th:each="participant:${meeting.participants}" th:text="${participant}"/>
                </ul>
            </td>
        </tr>
        <tr>
            <th>Deelnemen</th>
            <td><a th:href="@{${meeting.joinUrl}}" target="_blank">Deelnemen kan via deze link</a></td>
        </tr>

    </table>
</body>
</html>